
html {
  /* color: #fff; */
  font-size: 120%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: rgb(70, 70, 70) rgb(30, 30, 30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast {
  font-family: 'Macondo', cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e8fff;
}

div {
  outline: none;
}

